<style>
    #classInfo-add {
        padding: 20px 25px 25px 0;
    }
    #classInfo-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="classInfo-add">
    <form class="layui-form" action="" lay-filter="classInfo-add-form" id="fm" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">教师名称：</label>
            <div class="layui-input-block">
                <input type="text" name="teacherName" minlength="2" maxlength="10"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex"  value="1" title="男" checked lay-filter="fuRong" >
                <input type="radio" name="sex"  value="0" title="女" lay-filter="fuRong" >
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">教师简介：</label>
            <div class="layui-input-block">
                <textarea name="teacherIntroduction" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="tel" name="telephone" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传照片</label>
            <div class="layui-input-inline uploadHeadImage">
                <div class="layui-upload-drag" id="headImg">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>点击上传图片，或将图片拖拽到此处</p>
                </div>
                <button type="button" class="layui-btn" id="cleanImgs"> <i class="fa fa-trash-o fa-lg"></i>清空图片预览</button>
            </div>
            预览图：
            <div class="layui-upload-list" id="demo2"></div>

            <input type="text" id="imgUrls" name="imgUrls" style="display: none;" class="layui-input">
        </div>


        <div class="layui-form-item" style="text-align:right">
            <button class="layui-btn" lay-submit="" lay-filter="grade-add-form-submit" id="submit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
        </div>
    </form>
</div>
<script src="./mods/layarea.js"></script>
<script>
    layui.use(['febs', 'form', 'formSelects', 'laydate','validate','upload', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $form = $('form'),
            $view = $('#classInfo-add'),
            layarea = layui.layarea,
            validate = layui.validate,
            classInfo=$('#classInfo'),
            upload = layui.upload,
            treeSelect = layui.treeSelect,
            sortObject = {field: 'createTime', type: null};

        form.verify(validate);
        form.render();
        formSelects.render();

        $("#cleanImgs").click(function(){
            //alert("222");
            $('#demo2').html("");
            $('#imgUrls').val("");
        });

        var imgurls = "";
        //拖拽上传
        var uploadInst = upload.render({
            elem: '#headImg'
            , url: '/upload'
            , size: 1000
            , multiple: true
            , number: 7
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    // $('#demo1').attr('src', result); //图片链接（base64）
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name
                        + '"height="100px" width="100px" class="layui-upload-img uploadImgPreView">')
                });
            }
            , done: function (res) {
                imgurls = imgurls + "" + res.data.src + ",";
                $('#imgUrls').val(imgurls);
            }
            , error: function () {
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        form.on('submit(grade-add-form-submit)', function (data) {
            data.field.grade=$("#classInfo option:selected").val();
            $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
            febs.post(ctx+'schoolTeacherinfo/schoolTeacherinfo',data.field,function () {
                layer.closeAll();
                febs.alert.success('新增教师成功');
                $('#febs-schoolTeacherinfo').find('#query').click();
            });

            return false;
        });
    });
</script>
<style>
    #file{
       opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 40px;
    }
    #file-box{
        width: 100px;
        height: 40px;
        background-color: #32c787;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: #FFFFFF;
        position: relative;
        float: left;
    }
    #fileName{
        height: 40px;
        line-height: 40px;
        margin-left: 110px;
    }
    .layui-form-select dl{
        position: relative;
        top:0;
    }
</style>