<style>
    #schoolTimetable-add {
        padding: 20px 25px 25px 0;
    }
    #schoolTimetable-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="schoolTimetable-add">
    <form class="layui-form" action="" lay-filter="schoolTimetable-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">课程名：</label>
            <div class="layui-input-block">
                <input type="text" name="courseName" minlength="2" maxlength="10" lay-verify="range|courseName"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">上课时间：</label>
            <div class="layui-input-block">
                <input type="time" name="beginDate" lay-verify="beginDate" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">授课时长：</label>
            <div class="layui-input-block">
                <input type="number" name="duration"  lay-verify="number" maxlength="50" autocomplete="off"
                       class="layui-input" placeholder="请输入数字">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">科目：</label>
            <div class="layui-input-block" style="width: 180px;">
                <select name="subject" id="subjectInfo">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">学期：</label>
            <div class="layui-input-block" style="width: 180px;">
                <select name="term">
                    <option value="上学期" selected="selected">上学期</option>
                    <option value="下学期">下学期</option>
                </select>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">星期：</label>
            <div class="layui-input-block">
                <input type="text" name="week" lay-verify="week" maxlength="1" autocomplete="off"
                       class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">星期：</label>
            <div class="layui-input-block"  style="width: 180px;">
                <select name="week" id="weekInfo">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">节次：</label>
            <div class="layui-input-block">
                <input type="number" name="section" lay-verify="number" maxlength="1" autocomplete="off"
                       class="layui-input" placeholder="请输入1-9的数字">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >授课教师：</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="username" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属学校：</label>
            <div class="layui-input-block">
                <select name="schoolIds"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="schoolTimetable-add-school"
                        xm-select-skin="default">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">适用年级：</label>
            <div class="layui-input-block">
                <select name="grade"
                        xm-select-radio
                        xm-select-direction="down"
                        xm-select="schoolTimetable-add-grade"
                        xm-select-skin="default">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属班级：</label>
            <div class="layui-input-block">
                <select name="classIds"
                        xm-select-direction="down"
                        xm-select="schoolTimetable-add-class"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">上课地点：</label>
            <div class="layui-input-block">
                <select name="classroomId"
                        xm-select-radio
                        xm-select-direction="down"
                        xm-select="schoolTimetable-add-classroom"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item " style="text-align:right">
            <button class="layui-btn" lay-submit="" lay-filter="schoolTimetable-add-form-submit" id="submit">提交</button>
            <button type="reset" class="layui-btn" id="reset">重置</button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            weekInfo = $('#weekInfo'),
            subject = $('#subjectInfo'),
            $view = $('#schoolTimetable-add'),
            validate = layui.validate;

        getWeek();
        getSubject();
        form.verify(validate);
        form.render();

        formSelects.render();

        function getSubject() {
            $.ajax({
                type:'get',
                url: ctx+"dict?field=subject",
                success:function (res) {
                    var items=res.data;
                    if (res.data.length==0){
                        subject.append('<option value="'+""+'">'+""+'</option>');
                    }else{
                        for (var i=0;i<items.length;i++) {
                            subject.append('<option>' + items[i].v + '</option>');
                        }
                    }
                    form.render('select');
                }
            });
        }

        function getWeek() {
            $.ajax({
                type:'get',
                url: ctx+"dict?field=week",
                success:function (res) {
                    var items=res.data;
                    if (items.length==0){
                        weekInfo.append('<option>'+""+'</option>');
                    }else{
                        for (var i=0;i<items.length;i++) {
                            weekInfo.append('<option>' + items[i].v + '</option>');
                        }
                    }
                    form.render('select');
                }
            });
        }

        formSelects.config('schoolTimetable-add-school', {
            searchUrl: ctx + 'school',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].schoolName,
                        value: data[i].schoolId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取学校列表失败');
            }
        });

        formSelects.config('schoolTimetable-add-class', {
            searchUrl: ctx + 'classInfo',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].className,
                        value: data[i].classId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取班级列表失败');
            }
        });

        formSelects.config('schoolTimetable-add-grade', {
            searchUrl: ctx + 'dict?field=grade',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].v,
                        value: data[i].v
                    })
                    //alert("年级name"+data[i].v+"年级value"+data[i].k);
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取年级列表失败');
            }
        });

        formSelects.config('schoolTimetable-add-classroom', {
            searchUrl: ctx + 'classroomInfo',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].location,
                        value: data[i].id
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取教室列表失败');
            }
        });

        form.on('submit(schoolTimetable-add-form-submit)', function (data) {
            $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
            //alert("xxx");
            data.field.beginDate = new Date(data.field.beginDate);
            febs.post(ctx + 'schoolTimetable', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增课程成功！');
                $('#febs-schoolTimetable').find('#query').click();
            });
            return false;
        });
    });
</script>