<style>
    #schoolTimetable-update {
        padding: 20px 25px 25px 0;
    }

    #schoolTimetable-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="schoolTimetable-update">
    <form class="layui-form" action="" lay-filter="schoolTimetable-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">课程编号：</label>
            <div class="layui-input-block">
                <input type="text" name="courseId" data-th-value="${schoolTimetable.courseId}">
                <input type="hidden"  name="classId">
                <input type="hidden"  name="classroomId">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">课程名：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="courseName" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">上课时间：</label>
            <div class="layui-input-block">
                <input type="time" id="beginDate" name="beginDate" lay-verify="beginDate" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">授课时长：</label>
            <div class="layui-input-block">
                <input type="number" name="duration" lay-verify="number" maxlength="50" autocomplete="off"
                       class="layui-input">

            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">科目：</label>
            <div class="layui-input-block">
                <input type="text" name="subject" lay-verify="subject" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">科目：</label>
            <div class="layui-input-block" style="width: 180px;">
                <select name="subject" id="subjectInfo">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">学期：</label>
            <div class="layui-input-block" style="width: 180px;">
                <select name="term">
                    <option value="上学期" selected="selected">上学期</option>
                    <option value="下学期">下学期</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">星期：</label>
            <div class="layui-input-block"  style="width: 180px;">
                <select name="week" id="weekInfo">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">节次：</label>
            <div class="layui-input-block">
                <input type="number" name="section" lay-verify="number" maxlength="1" autocomplete="off"
                       class="layui-input" placeholder="请输入1-9的数字">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >授课教师：</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="username" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属学校：</label>
            <div class="layui-input-block">
                <select name="schoolIds"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="schoolTimetable-update-school"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label  febs-form-item-require">适用年级：</label>
            <div class="layui-input-block">
                <select name="grade"
                        xm-select-radio
                        xm-select-direction="down"
                        xm-select="schoolTimetable-update-grade"
                        xm-select-skin="default">
                </select>
            </div>
        </div>

        <div class="layui-form-item febs-form-item-require">
            <label class="layui-form-label febs-form-item-require">所属班级：</label>
            <div class="layui-input-block">
                <select name="classIds"
                        xm-select-direction="down"
                        xm-select="schoolTimetable-update-class"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-form-item-require">
            <label class="layui-form-label febs-form-item-require">上课地点：</label>
            <div class="layui-input-block">
                <select name="classroomId"
                        xm-select-radio
                        xm-select-direction="down"
                        xm-select="schoolTimetable-update-classroom"
                        xm-select-skin="default">
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: right">
            <button class="layui-btn" lay-submit="" lay-filter="schoolTimetable-update-form-submit" id="submit">提交</button>
            <button class="layui-btn layui-btn-primary" type="button" id="remove">取消</button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            schoolTimetable = [[${schoolTimetable}]],
            beginDate = [[${beginDate}]],
            subject = $('#subjectInfo'),
            subjectInfo = [[${subjectInfo}]],
            week=$('#weekInfo'),
            weekInfo = [[${weekInfo}]],
            $view = $('#schoolTimetable-update'),
            $remove=$view.find('#remove'),
            validate = layui.validate;

        getWeek();

        //beginDate = beginDate.replace(' ','T');
        getSubject();
        form.verify(validate);
        form.render();
        initSchoolTimetableValue();
        formSelects.render();
        function getSubject() {
            $.ajax({
                type:'get',
                url: ctx+"dict?field=subject",
                success:function (res) {
                    var items=res.data;
                    if (res.data.length==0){
                        subject.append('<option value="'+""+'">'+""+'</option>');
                    }else{
                        for (var i=0;i<items.length;i++) {
                            if (items[i].v===schoolTimetable.subject){
                                subject.append('<option selected="selected">' + items[i].v + '</option>');
                            }
                            else{subject.append('<option>' + items[i].v + '</option>');}
                        }
                    }
                    form.render('select');
                }
            });
        }

        function getWeek() {
            $.ajax({
                type:'get',
                url: ctx+"dict?field=week",
                success:function (res) {
                    var items=res.data;
                    if (res.data.length==0){
                        week.append('<option value="'+""+'">'+""+'</option>');
                    }else{
                        for (var i=0;i<items.length;i++) {
                            if (items[i].v===schoolTimetable.week){
                                week.append('<option selected="selected">' + items[i].v + '</option>');
                            }
                            else{week.append('<option>' + items[i].v + '</option>');}
                        }
                    }
                    form.render('select');
                }
            });
        }

        formSelects.config('schoolTimetable-update-school', {
            searchUrl: ctx + 'school',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].schoolName,
                        value: data[i].schoolId
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('schoolTimetable-update-school', schoolTimetable.schoolIds.split(','));
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取学校列表失败');
            }
        });

        formSelects.config('schoolTimetable-update-grade', {
            searchUrl: ctx + 'dict?field=grade',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].v,
                        value: data[i].v
                    })
                    //alert("年级name"+data[i].v+"年级value"+data[i].k);
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('schoolTimetable-update-grade', [schoolTimetable.grade]);
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取年级列表失败');
            }
        });

        formSelects.config('schoolTimetable-update-class', {
            searchUrl: ctx + 'classInfo',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].className,
                        value: data[i].classId
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('schoolTimetable-update-class', schoolTimetable.classIds.split(','));
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取班级列表失败');
            }
        });

        formSelects.config('schoolTimetable-update-classroom', {
            searchUrl: ctx + 'classroomInfo',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].location,
                        value: data[i].id
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('schoolTimetable-update-classroom', [schoolTimetable.classroomId]);
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取教室列表失败');
            }
        });

        function initSchoolTimetableValue() {
            form.val("schoolTimetable-update-form", {
                "courseName": schoolTimetable.courseName,
                "username": schoolTimetable.username,
                "duration": schoolTimetable.duration,
                "subject": schoolTimetable.subject,
                "term": schoolTimetable.term,
                'week': schoolTimetable.week,
                'section':schoolTimetable.section,
                'schoolIds':schoolTimetable.schoolIds,
                'grade':schoolTimetable.grade,
                'classId':schoolTimetable.classId,
                'classroomId':schoolTimetable.classroomId,
                "beginDate": beginDate
            });
        }

        $remove.on("click",function(){
            layer.closeAll();
        })

        form.on('submit(schoolTimetable-update-form-submit)', function (data) {
            //alert("xxx23");
            if (febs.nativeEqual(data.field, schoolTimetable)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }

            $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
            //data.field.beginDate = new Date(data.field.beginDate);
            febs.post(ctx + 'schoolTimetable/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(data.field.courseName + ' 课程数据修改成功');
                $('#febs-schoolTimetable').find('#query').click();
            });
            return false;
        });
    });
</script>