<div class="layui-fluid layui-anim febs-anim" id="febs-schoolTimetable" lay-title="课表信息管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="schoolTimetable-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">课表名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="courseName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属学科</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="subject" id="subject" lay-filter="subject"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属学校</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="schoolName" id="schoolName" lay-filter="schoolName"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="schoolTimetable:add,schoolTimetable:update,schoolTimetable:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                                <button type="button" class="layui-btn layui-btn-sm" style="margin-top:10px;" id="schoolTimeTableUpload">
                                    <i class="layui-icon">&#xe67c;</i>上传excel
                                </button>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="schoolTimetableTable" lay-data="{id: 'schoolTimetableTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="schoolTimetable-option">
    <span shiro:lacksPermission="schoolTimetable:view,schoolTimetable:update,schoolTimetable:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="schoolTimetable:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="schoolTimetable:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect', 'upload'], function () {
        var $ = layui.jquery,
            upload = layui.upload,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            $view = $('#febs-schoolTimetable'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'beginDate', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#beginDate',
            range: true,
            trigger: 'click'
        });

        var uploadInst = upload.render({
          elem: '#schoolTimeTableUpload' //绑定元素
          ,url: '/schoolTimetable/excel' //上传接口
          ,accept: 'file' //允许上传的文件类型
          ,done: function(res){
        	  console.log(res);
        	  if(res.code == 200){
        		  febs.alert.success('上传成功');
        		  $query.click();
        	  }
        	  else
        		  febs.alert.error('上传失败');
          }
          ,error: function(){
        	  febs.alert.warn('上传失败');
          }
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('schoolTimetableTable');
                if (name === 'add') {
                    febs.modal.open('新增课表信息', 'basicInfo/schoolTimetable/add', {
                        area: $(window).width() <= 750 ? '95%' : '50%',
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的课表信息');
                    } else {
                        febs.modal.confirm('删除课表信息', '确定删除该课表信息？', function () {
                            var schoolTimetableIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                schoolTimetableIds.push(item.courseId)
                            });
                            deleteSchoolTimetable(schoolTimetableIds.join(','));
                        });
                    }
                }
                if (name === 'export') {
                    febs.modal.open('导出课表模板', 'basicInfo/schoolTimetable/toExcel', {
                        area: $(window).width() <= 750 ? '95%' : '50%',
                    });
                }
            },
            options: [{
                name: 'add',
                title: '新增课表信息',
                perms: 'schoolTimetable:add'
            }, {
                name: 'delete',
                title: '删除课表信息',
                perms: 'schoolTimetable:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'schoolTimetable:export'
            }]
        });

        table.on('tool(schoolTimetableTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除课表信息', '确定删除该课表信息？', function () {
                    deleteSchoolTimetable(data.courseId);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改课表信息', 'basicInfo/schoolTimetable/update/' + data.courseId, {
                    area: $(window).width() <= 750 ? '90%' : '50%'
                });
            }
        });

        table.on('sort(schoolTimetableTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            //treeSelect.revokeNode('dept');
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'schoolTimetableTable',
                url: ctx + 'schoolTimetable/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'schoolNames', title: '所属学校'},
                    {field: 'term', title: '学期'},
                    {field: 'subject', title: '学科'},
                    {field: 'grade', title: '所属年级'},
                    {field: 'courseName', title: '课程名', minWidth: 100},
                    {field: 'beginDate', title: '上课时间'},
                    {field: 'location', title: '教室位置'},
                    {field: 'username', title: '授课教师', minWidth: 165},
                    {field: 'state', title: '巡课状态'},
                    {title: '操作', toolbar: '#schoolTimetable-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            return {
                courseName: $searchForm.find('input[name="courseName"]').val().trim(),
                subject: $searchForm.find("select[name='subject']").val(),
                schoolName: $searchForm.find("input[name='schoolName']").val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteSchoolTimetable(courseIds) {
            febs.get(ctx + 'schoolTimetable/delete/' + courseIds, null, function () {
                febs.alert.success('删除课表信息成功');
                $query.click();
            });
        }
    })
</script>