<style>
    #pictureNews-add {
        padding: 20px 25px 25px 0;
    }
    #pictureNews-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="pictureNews-add">
    <form class="layui-form" action="" lay-filter="pictureNews-add-form" id="fm" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">新闻标题：</label>
            <div class="layui-input-block">
                <input type="text" name="newsTitle" minlength="2" maxlength="100"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属公司：</label>
            <div class="layui-input-block">
                <input type="text" name="uploaderCompany" minlength="2" maxlength="100"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">新闻内容：</label>
            <div class="layui-input-block">
                <!--<textarea name="newsContent" placeholder="请输入内容" class="layui-textarea"></textarea>-->
                <!--<textarea id="demo" name="newsContent" style="display: none;"></textarea>-->
                <div id="contentDiv"></div>
                <textarea name="newsContent" id="content" style="display:none" ></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">新闻地址：</label>
            <div class="layui-input-block">
                <input type="text" name="newsUrl" minlength="2" maxlength="1000"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传新闻图片</label>
            <div class="layui-input-inline uploadHeadImage">
                <div class="layui-upload-drag" id="headImg">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>点击上传图片，或将图片拖拽到此处</p>
                </div>
                <button type="button" class="layui-btn" id="cleanImgs"> <i class="fa fa-trash-o fa-lg"></i>清空图片预览</button>
            </div>
            预览图：
            <div class="layui-upload-list" id="demo2"></div>

            <input type="text" id="pictureUrl" name="pictureUrl" style="display: none;" class="layui-input">
        </div>


        <div class="layui-form-item" style="text-align:right">
            <button class="layui-btn" lay-submit="" lay-filter="grade-add-form-submit" id="submit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
        </div>
    </form>
</div>
<script src="./mods/layarea.js"></script>
<script>
    layui.use(['febs', 'form', 'formSelects', 'laydate','validate','upload', 'treeSelect','layedit'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $form = $('form'),
            $view = $('#pictureNews-add'),
            layarea = layui.layarea,
            validate = layui.validate,
            upload = layui.upload,
            treeSelect = layui.treeSelect,
            sortObject = {field: 'createTime', type: null};

        form.verify(validate);
        form.render();
        formSelects.render();

        var E = window.wangEditor;
        var editor = new E('#contentDiv')
        var $text1 = $('#content');
        editor.customConfig.uploadImgServer = 'pictureNews/upload';	//自定义上传图片（改成自己写的图片上传方法的路径）
        editor.customConfig.uploadFileName = 'file';
        editor.customConfig.uploadImgHooks = {
            customInsert: function (insertImg, result, editor) {
                var url = result.data.src
                insertImg(url)
            }
        }
        editor.create();
        var newsContent=$("#newsContent").val();
        $text1.val(editor.txt.html(newsContent));


        $("#cleanImgs").click(function(){
            $('#demo2').html("");
            $('#pictureUrl').val("");
        });


        var pictureUrl = "";
        //拖拽上传
        var uploadInst = upload.render({
            elem: '#headImg'
            , url: '/upload'
            , size: 1000
            , multiple: true
            , number: 7
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    // $('#demo1').attr('src', result); //图片链接（base64）
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name
                        + '"height="100px" width="100px" class="layui-upload-img uploadImgPreView">')
                });
            }
            , done: function (res) {
                pictureUrl = pictureUrl + "" + res.data.src + ",";
                $('#pictureUrl').val(pictureUrl);
            }
            , error: function () {
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        form.on('submit(grade-add-form-submit)', function (data) {
            data.field.newsContent=editor.txt.html();
            data.field.grade=$("#classInfo option:selected").val();
            $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
            febs.post(ctx+'pictureNews/pictureNews',data.field,function () {
                layer.closeAll();
                febs.alert.success('新增教师成功');
                $('#febs-pictureNews').find('#query').click();
            });

            return false;
        });

    });
</script>
<style>
    #file{
       opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 40px;
    }
    #file-box{
        width: 100px;
        height: 40px;
        background-color: #32c787;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: #FFFFFF;
        position: relative;
        float: left;
    }
    #fileName{
        height: 40px;
        line-height: 40px;
        margin-left: 110px;
    }
    .layui-form-select dl{
        position: relative;
        top:0;
    }
</style>