<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.AlicdnResourceMapper">

    <resultMap id="alicdnResource" type="cc.mrbird.febs.basicInfo.entity.AlicdnResource">
        <id column="resource_id" jdbcType="BIGINT" property="resourceId"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="datetime" jdbcType="DATE" property="datetime"/>
        <result column="source" jdbcType="DATE" property="source"/>
        <result column="link" jdbcType="DATE" property="link"/>
    </resultMap>
</mapper>
