<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.ClassroomInfoMapper">

    <resultMap id="classroomInfo" type="cc.mrbird.febs.basicInfo.entity.ClassroomInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="location" jdbcType="CHAR" property="location"/>
        <result column="contain_num" jdbcType="INTEGER" property="containNum"/>
        <result column="introduce" jdbcType="CHAR" property="introduce"/>
        <result column="url" jdbcType="CHAR" property="url"/>
        <result column="play_url" jdbcType="CHAR" property="playUrl"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="schoolName" jdbcType="VARCHAR" property="schoolName"/>
    </resultMap>

    <select id = "getClassroomInfoByCityCountry" resultType="cc.mrbird.febs.basicInfo.entity.ClassroomInfo" parameterType = "map">
        select * from jcc_classroom_info room
          LEFT JOIN jcc_school_info school ON room.school_id = school.school_id
          WHERE  1 = 1
            <if test = "map.provinceDeptId != null">
                and school.province_dept_id = #{map.provinceDeptId}
            </if>
            <if test = "map.cityDeptId != null">
                and school.city_dept_id = #{map.cityDeptId}
            </if>
            <if test ="map.countryDeptId != null">
                and school.country_dept_id = #{map.countryDeptId}
            </if>
    </select>

    <select id="getClassroomCount" parameterType="map" resultType="java.lang.Integer">
        SELECT count(1) FROM jcc_classroom_info room
        LEFT JOIN jcc_school_info school ON room.school_id = school.school_id
        WHERE  1 = 1
        <if test = "map.provinceDeptId != null">
            and school.province_dept_id = #{map.provinceDeptId}
        </if>
        <if test = "map.cityDeptId != null">
            and school.city_dept_id = #{map.cityDeptId}
        </if>
        <if test ="map.countryDeptId != null">
            and school.country_dept_id = #{map.countryDeptId}
        </if>
    </select>

    <select id = "findClassroomByMainSchoolId" resultType="cc.mrbird.febs.basicInfo.entity.ClassroomInfo" parameterType = "java.lang.Integer">
        select * from jcc_classroom_info room
          LEFT JOIN jcc_school_info school ON room.school_id = school.school_id
          WHERE  school.school_id = #{schoolId}
    </select>
    
    <select id = "findClassroomInfosByDept" resultType="cc.mrbird.febs.basicInfo.entity.ClassroomInfo">
        select * from jcc_classroom_info room
          LEFT JOIN jcc_school_info school ON room.school_id = school.school_id
          WHERE  school.dept_id = #{deptId}
          <if test ="classroomInfo.schoolId != null">
                and school.school_id = #{classroomInfo.schoolId}
          </if>
          <if test ="classroomInfo.grade != null">
                and grade = #{classroomInfo.grade}
          </if>
    </select>

    <select id="selectClassroomInfos" parameterType="cc.mrbird.febs.basicInfo.entity.ClassroomInfo" resultType="cc.mrbird.febs.basicInfo.entity.ClassroomInfo">
        select
        jci.id,
        jci.school_id,
        jci.location,
        jci.contain_num,
        jci.introduce,
        jci.url,jci.state,
        jci.subject,
        jci.grade,
        jsi.school_name
        from jcc_classroom_info jci
        LEFT JOIN jcc_school_info jsi on (jci.school_id = jsi.school_id)
        WHERE 1=1
        <if test="classroomInfo.state != null">
            AND jci.state = #{classroomInfo.state}
        </if>
        <if test="classroomInfo.schoolId != null">
            AND jci.school_id = #{classroomInfo.schoolId}
        </if>
        <if test="classroomInfo.provinceDeptId != null and classroomInfo.provinceDeptId != ''">
            AND jsi.province_dept_id = (#{classroomInfo.provinceDeptId})
        </if>
        <if test="classroomInfo.cityDeptId != null and classroomInfo.cityDeptId != ''">
            AND jsi.city_dept_id = (#{classroomInfo.cityDeptId})
        </if>
        <if test="classroomInfo.countryDeptId != null and classroomInfo.countryDeptId != ''">
            AND jsi.country_dept_id = (#{classroomInfo.countryDeptId})
        </if>
        <if test="classroomInfo.deptId != null and classroomInfo.deptId != ''">
            AND jsi.dept_id = (#{classroomInfo.deptId})
        </if>
    </select>

    <select id="selectDeptById" parameterType="string" resultType="cc.mrbird.febs.system.entity.Dept">
        select
        dept_id,
        parent_id,
        dept_name,
        order_num,
        create_time,
        dept_grade,
        modify_time
        from t_dept
        where dept_id = #{dept}
    </select>
</mapper>
