<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.PictureNewsMapper">

    <resultMap id="pictureNews" type="cc.mrbird.febs.basicInfo.entity.PictureNews">
        <id column="picture_id" jdbcType="BIGINT" property="pictureId"/>
        <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl"/>
        <result column="news_url" jdbcType="VARCHAR" property="newsUrl"/>
        <result column="news_title" jdbcType="VARCHAR" property="newsTitle"/>
        <result column="news_content" jdbcType="VARCHAR" property="newsContent"/>
        <result column="editor_id" jdbcType="VARCHAR" property="editorId"/>
        <result column="editor_name" jdbcType="VARCHAR" property="editorName"/>
        <result column="uploader_company" jdbcType="VARCHAR" property="uploaderCompany"/>
        <result column="publish_time" jdbcType="DATE" property="publishTime"/>
        <result column="course_id" jdbcType="BIGINT" property="courseId"/>
    </resultMap>

    <select id="findPictureNewsHide" resultType="cc.mrbird.febs.basicInfo.entity.PictureNews">
        select
        picture_id,
        picture_url,
        news_url,
        news_title,
        news_content,
        editor_id,
        editor_name,
        uploader_company,
        publish_time,
        course_id
        from
        picture_news
        limit 5,20000
    </select>
</mapper>
