<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.SchoolTeacheinfoMapper">

    <resultMap id="schoolTeacheinfo" type="cc.mrbird.febs.basicInfo.entity.SchoolTeacheinfo">
        <id column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="teacher_introduction" jdbcType="VARCHAR" property="teacherIntroduction"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="img_urls" jdbcType="VARCHAR" property="imgUrls"/>
    </resultMap>

    <select id="selectSchoolTeacherList" resultMap="schoolTeacheinfo">
        select
        teacher_id,
        teacher_name,
        sex,
        teacher_introduction,
        telephone,
        img_urls
        from
        school_teacher_info
    </select>
</mapper>
