<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.SchoolTimetableMapper">

    <resultMap id="schoolTimetableMap" type="cc.mrbird.febs.basicInfo.entity.SchoolTimetable">
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="course_name" jdbcType="CHAR" property="courseName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="username"/>
        <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate"/>
        <result column="class_id" jdbcType="CHAR" property="classId"/>
        <result column="classroom_id" jdbcType="INTEGER" property="classroomId"/>

        <result column="duration" jdbcType="INTEGER" property="duration"/>
        <result column="grade" jdbcType="CHAR" property="grade"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="section" jdbcType="VARCHAR" property="section"/>
        <result column="subject" jdbcType="CHAR" property="subject"/>
        <result column="term" jdbcType="CHAR" property="term"/>

        <result column="week" jdbcType="VARCHAR" property="week"/>
        
        <result column="school_name" jdbcType="CHAR" property="schoolName"/>
        <result column="class_name" jdbcType="CHAR" property="className"/>
        <result column="location" jdbcType="CHAR" property="location"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="url" jdbcType="CHAR" property="url"/>
        <result column="schoolIds" jdbcType="VARCHAR" property="schoolIds"/>
        <result column="schoolNames" jdbcType="VARCHAR" property="schoolNames"/>
    </resultMap>

    <sql id="findSchoolTimetableDetailSql">
        SELECT
        d.course_id,d.course_name,d.begin_date,
        d.duration,d.grade,d.section,d.subject,d.term,d.week,d.user_name,
        u.user_id,u.username,
        s.school_id,s.school_name,
        GROUP_CONCAT(s.school_id) schoolIds,
        GROUP_CONCAT(s.school_name) schoolNames,
        c.class_id,c.class_name,
        cr.id classroom_id,cr.location,cr.state,cr.url
        FROM
        jcc_school_timetable d
        LEFT JOIN jcc_timetable_relate_school jtrs ON (d.course_id = jtrs.course_id)
        LEFT JOIN jcc_school_info s ON (s.school_id = jtrs.school_id)
        LEFT JOIN jcc_class_info c ON (c.class_id = d.class_id)
        LEFT JOIN jcc_classroom_info cr ON (cr.id = d.classroom_id)
        LEFT JOIN t_user u ON (u.user_id = d.user_id)
        WHERE 1 = 1
        <if test="schoolTimetable.courseName != null and schoolTimetable.courseName != ''">
            AND d.course_name like CONCAT('%','${schoolTimetable.courseName}','%')
        </if>
        <if test="schoolTimetable.subject != null and schoolTimetable.subject != ''">
            AND s.subject like CONCAT('%','${schoolTimetable.subject}','%')
        </if>
        <if test="schoolTimetable.schoolName != null and schoolTimetable.schoolName != ''">
            AND s.school_name like CONCAT('%','${schoolTimetable.schoo                                                                                                                                     lName}','%')
        </if>
        <if test="schoolTimetable.schoolId != null and schoolTimetable.schoolId != ''">
            AND s.school_id = #{schoolTimetable.schoolId}
        </if>
        <if test="schoolTimetable.schoolIds != null and schoolTimetable.schoolIds != ''">
            AND s.school_id in (#{schoolTimetable.schoolIds})
        </if>
        <if test="schoolTimetable.week != null and schoolTimetable.week != ''">
            AND d.week = #{schoolTimetable.week}
        </if>
        GROUP BY d.course_id
    </sql>
    <select id="findSchoolTimetables" parameterType="cc.mrbird.febs.basicInfo.entity.SchoolTimetable" resultMap="schoolTimetableMap">
        <include refid="findSchoolTimetableDetailSql"/>
    </select>

    <select id="selectMainSchoolId" parameterType="Integer" resultType="Integer">
        select belongId from jcc_school_info where school_id = #{schoolId}
    </select>
    
    <select id="findSchoolTimetableByDept" resultType="cc.mrbird.febs.basicInfo.entity.SchoolTimetable">
        SELECT
        d.course_id,
        d.course_name,
        d.begin_date,
        d.duration,
        d.grade,
        d.section,
        d.subject,
        d.term,
        d.week,
        d.user_name,
        u.user_id,
        s.school_id,
        s.school_name,
        c.class_id,
        c.class_name,
        cr.id classroom_id,
        cr.location,
        cr.state,
        cr.url
        FROM
        jcc_school_timetable d
        LEFT JOIN jcc_school_info s ON (s.school_id = d.school_id)
        LEFT JOIN jcc_class_info c ON (c.class_id = d.class_id)
        LEFT JOIN jcc_classroom_info cr ON (cr.id = d.classroom_id)
        LEFT JOIN t_user u ON (u.user_id = d.user_id)
        WHERE s.dept_id = #{deptId}
        <if test="schoolTimetable.courseName != null and schoolTimetable.courseName != ''">
            AND d.course_name like CONCAT('%','${schoolTimetable.courseName}','%')
        </if>
        <if test="schoolTimetable.subject != null and schoolTimetable.subject != ''">
            AND s.subject like CONCAT('%','${schoolTimetable.subject}','%')
        </if>
        <if test="schoolTimetable.schoolName != null and schoolTimetable.schoolName != ''">
            AND s.school_name like CONCAT('%','${schoolTimetable.schoo                                                                                                                                     lName}','%')
        </if>
        <if test="schoolTimetable.schoolId != null and schoolTimetable.schoolId != ''">
            AND s.school_id = #{schoolTimetable.schoolId}
        </if>
        <if test="schoolTimetable.week != null and schoolTimetable.week != ''">
            AND d.week = #{schoolTimetable.week}
        </if>
    </select>

    <select id="selectSchooltimetableInfo" parameterType="Integer" resultType="cc.mrbird.febs.basicInfo.entity.SchoolTimetable">
        select
        jst.course_id,
        jst.user_id,
        jst.user_name,
        jst.course_name,
        jst.begin_date,
        jst.duration,
        jsi.school_id,
        jsi.school_name,
        jst.grade,
        jst.class_id,
        jci.class_name,
        jst.subject,
        jst.term,
        jst.week,
        jst.classroom_id,
        jst.section,
        GROUP_CONCAT(distinct jtrs.school_id) schoolIds,
        GROUP_CONCAT(distinct jtrc.class_id) classIds
        from
        jcc_school_timetable jst
        LEFT JOIN jcc_timetable_relate_school jtrs on jst.course_id = jtrs.course_id
        LEFT JOIN jcc_school_info jsi on jsi.school_id = jtrs.school_id
        LEFT JOIN jcc_timetable_relate_class jtrc on jtrc.course_id = jst.course_id
        LEFT JOIN jcc_class_info jci on jci.class_id = jtrc.class_id
        WHERE  jst.course_id = #{courseId}
        GROUP BY jst.course_id
    </select>

    <delete id="deleteRelateSchooltimetableInfo" parameterType="Integer">
        delete from jcc_timetable_relate_school where course_id = #{courseId}
    </delete>

    <delete id="deleteRelateClassInfo" parameterType="Integer">
        delete from jcc_timetable_relate_class where course_id = #{courseId}
    </delete>

    <insert id="insertRelateSchooltimetableInfo" parameterType="java.util.Map">
        insert into jcc_timetable_relate_school(course_id,school_id)
                values(#{courseId},#{schoolId})
    </insert>

    <insert id="insertRelateClassInfo" parameterType="java.util.Map">
        insert into jcc_timetable_relate_class(course_id,class_id)
                values(#{courseId},#{classId})
    </insert>

    <select id="selectSchoolInfByDeptId"  resultType="cc.mrbird.febs.basicInfo.entity.School">
        select
        jsi.school_id,
        jsi.school_name,
        jsi.introduce,
        jsi.school_type,
        jsi.school_category,
        jsi.link_man,
        jsi.link_phone,
        jsi.post_code,
        jsi.address,
        jsi.create_time,
        jsi.picture,
        jsi.belongId,
        jsi.dept_id,
        jsi.furong
        from
        jcc_school_info jsi
        <where>
            <if test="deptId != null and deptId != '' ">
                province_dept_id or city_dept_id or country_dept_id or dept_id in (#{deptId})
            </if>
        </where>

    </select>
</mapper>
