<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.VideoLiveMapper">

    <resultMap id="videoLive" type="cc.mrbird.febs.basicInfo.entity.VideoLive">
        <id column="live_id" jdbcType="BIGINT" property="liveId"/>
        <result column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="video_title" jdbcType="VARCHAR" property="videoTitle"/>
        <result column="video_content" jdbcType="VARCHAR" property="videoContent"/>
        <result column="video_play_url" jdbcType="VARCHAR" property="videoPlayUrl"/>
        <result column="is_play" jdbcType="VARCHAR" property="isPlay"/>
        <result column="editor_id" jdbcType="VARCHAR" property="editorId"/>
        <result column="editor_name" jdbcType="VARCHAR" property="editorName"/>
        <result column="edit_time" jdbcType="DATE" property="editTime"/>
    </resultMap>
    
    <select id="selectVideoLiveList" resultType="cc.mrbird.febs.basicInfo.entity.VideoLive">
        select
        vl.live_id,
        vl.course_id,
        vl.video_title,
        vl.video_content,
        vl.video_play_url,
        vl.is_play,
        vl.editor_id,
        vl.editor_name,
        vl.edit_time,
        nt.course_name
        from
        video_live vl
        left join
        net_timetable nt on vl.course_id = nt.course_id
    </select>
</mapper>
