<style>
    #alicdnResource-update {
        padding: 20px 25px 25px 0;
    }

    #alicdnResource-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="alicdnResource-update">
    <form class="layui-form" action="" lay-filter="alicdnResource-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">资源标题：</label>
            <div class="layui-input-block">
                <input type="hidden" name="resourceId">
                <input type="text" name="title" minlength="2" maxlength="100"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">开课时间：</label>
            <div class="layui-input-block">
                <input type="datetime-local" name="dateTime" lay-verify="dateTime" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">图片地址：</label>
            <div class="layui-input-block">
                <input type="text" name="image" minlength="2" maxlength="100"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">上传人：</label>
            <div class="layui-input-block">
                <input type="text" name="source" minlength="2" maxlength="100"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">链接地址：</label>
            <div class="layui-input-block">
                <select name="link" id="link">
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: right">
            <button class="layui-btn" lay-submit="" lay-filter="alicdnResource-update-form-submit" id="submit">提交</button>
            <button class="layui-btn layui-btn-primary" type="button" id="remove">取消</button>
        </div>
    </form>
</div>
<script src="./mods/layarea.js"></script>
<script data-th-inline="javascript">


    layui.use(['febs', 'form', 'formSelects', 'laydate','validate', 'upload', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $form = $('form'),
            upload = layui.upload,
            grade=$('#alicdnResource'),
            alicdnResource = [[${alicdnResource}]],
            link = $('#link'),
            specialTime = [[${specialTime}]],
            $view = $('#alicdnResource-update'),
            $remove=$view.find('#remove'),
            validate = layui.validate;

        getLink();
        initUserValue();
        form.verify(validate);
        form.render();

        function getLink() {
            febs.get(ctx+'pictureNews/pictureNews/web/list',null,function (res) {
                var items = res.data;
                if (items.total==0){
                    link.append('<option value="'+""+'">'+""+'</option>');
                }else{
                    //link.append('<option value="' + items.rows[0].pictureId + '">' + items.rows[0].newsTitle+ '</option>');
                    for (var i=0;i<items.rows.length;i++) {
                        var linkConstant = alicdnResource.link;
                        var linkIndex = linkConstant.indexOf('=');
                        var compareLink = linkConstant.substr(linkIndex+1,linkConstant.length);
                        if (items.rows[i].pictureId===compareLink){
                            link.append('<option selected="selected" value=' + items.rows[i].pictureId + '>' + items.rows[i].newsTitle+ '</option>');
                        }
                        else{
                            link.append('<option value='+ items.rows[i].pictureId + '>' + items.rows[i].newsTitle + '</option>');
                        }
                    }

                }
                form.render('select');
            });
        }


        function initUserValue() {
            form.val("alicdnResource-update-form", {
                "resourceId": alicdnResource.resourceId,
                "image": alicdnResource.image,
                "dateTime": specialTime,
                "title": alicdnResource.title,
                "source": alicdnResource.source,
                "link": alicdnResource.link
            });
        }

        $remove.on("click",function(){
            layer.closeAll();
        })

        form.on('submit(alicdnResource-update-form-submit)', function (data) {

            if (febs.nativeEqual(data.field, alicdnResource)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }

            $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
            febs.post(ctx + 'alicdnResource/alicdnResource/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('课程修改成功');
                $('#febs-alicdnResource').find('#query').click();
            });
            return false;
        });
    });
</script>
<style>
    .layui-form-select dl{
        position: relative;
        top:0;
    }
</style>