<div class="layui-fluid layui-anim febs-anim" id="febs-dept" lay-title="部门管理">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md4 layui-col-sm4 layui-col-xs8">
            <div class="layui-card">
            	<div class="layui-card-header" id="form-dept-header">
                    <span>部门列表</span>&nbsp;&nbsp;
                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                        <!--<i class="layui-icon">&#xe848;</i>-->
                        同步钉钉部门至本地
                    </div>
                </div>
                <div class="layui-card-body febs-table-full">  
                    <div class="dept-tree" lay-filter="deptTree" style="margin-left: 1rem"></div>
                </div>
            </div>
            <div class="layui-form-item febs-hide">
		         <input type="text" name="userDeptIds" id="userDeptIds" data-th-value="${userDeptIds}">
		    </div>
         </div>
        <div class="layui-col-md8 layui-col-sm8 layui-col-xs16">
            <div class="layui-card">
                <div class="layui-card-header" id="form-school-header">学校列表</div>
                <div class="layui-card-body febs-table-full">
                    <table lay-filter="deptSchoolTable" lay-data="{id: 'deptSchoolTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'validate', 'febs', 'eleTree', 'table'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            table = layui.table,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            userDeptIds = layui.$('#userDeptIds').val(),
            $view = $('#febs-dept'),
            _currentDeptData,
            _deptTree,
            $query = $view.find('#query'),
            tableIns;

        renderDeptTree();

        initTable();

        eleTree.on("nodeClick(deptTree)", function (d) {
        	var data = d.data.currentData.data;
            _currentDeptData = data;
        	var params = {
        		"deptId": data.deptId
        	};
        	tableIns.reload({where: params, page: {curr: 1}});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'deptSchoolTable',
                url: ctx + 'school/bydept/list',
                cols: [[
                    {field: 'schoolName', title: '学校名', minWidth: 100},
                    {field: 'linkMan', title: '主负责人'},
                    {field: 'linkPhone', title: '联系电话', minWidth: 165}
                ]]
            });
        }

        function renderDeptTree() {
            _deptTree = eleTree.render({
                elem: '.dept-tree',
                url: ctx + 'dept/tree',
                accordion: true,
                highlightCurrent: true,
                checkStrictly: true,
                renderAfterExpand: false,
                where: {
                    "invalidate_ie_cache": new Date()
                },
                request: {
                    name: 'name',
                    key: "id",
                    checked: "checked",
                    data: 'data'
                },
                response: {
                    statusName: "code",
                    statusCode: 200,
                    dataName: "data"
                }
            });
            return _deptTree;
        }

        function reloadDeptTree() {
            _deptTree = renderDeptTree();
        }

        $query.on('click', function () {
            febs.post(ctx + 'dept/synchDingDeptData', null, function () {
                febs.alert.success('部门数据同步成功');
            });
        });

    });
</script>