<div class="layui-fluid layui-anim febs-anim" id="febs-interface" lay-title="接口管理">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="jccInterfaceInfo-table-form" id="jccInterfaceInfo-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md8 layui-col-sm9 layui-col-xs9">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="interfaceName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="jccInterfaceInfo:add,jccInterfaceInfo:delete,jccInterfaceInfo:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="eleTree jccInterfaceInfoTree" lay-filter="jccInterfaceInfoTree" style="margin-left: 1rem"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header" id="form-header">新增接口</div>
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" action="" lay-filter="jccInterfaceInfo-form">
                        <div class="layui-form-item febs-hide">
                            <label class="layui-form-label febs-form-item-require">ID：</label>
                            <div class="layui-input-block">
                                <input type="text" name="interfaceId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上级ID：</label>
                            <div class="layui-input-block">
                                <input type="text" value="" name="parentId" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" name="interfaceName" autocomplete="off" class="layui-input"
                                       minlength="2" maxlength="255" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">请求方式：</label>
                            <div class="layui-input-block">
                                <select name="requestWays">
                                    <option value="GET" selected="selected">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">请求地址：</label>
                            <div class="layui-input-block">
                                <input type="text" name="requestAddress" autocomplete="off" class="layui-input"
                                       minlength="2" maxlength="400" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">请求头：</label>
                            <div class="layui-input-block">
                                <input type="text" name="requestHead" autocomplete="off" class="layui-input"
                                       minlength="2" maxlength="400" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">请求体：</label>
                            <div class="layui-input-block">
                                <textarea name="requestBody" maxlength="400" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">请求体参数说明：</label>
                            <div class="layui-input-block">
                                <textarea name="requestParameterExplain" maxlength="600" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">返回状态：</label>
                            <div class="layui-input-block">
                                <select name="requestResult">
                                    <option value="200" selected="selected">200</option>
                                    <option value="500">500</option>
                                    <option value="404">404</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">返回状态说明：</label>
                            <div class="layui-input-block">
                                <textarea name="requestResultExplain" maxlength="600" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">显示状态：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="showStatus" value="0" title="不显示">
                                <input type="radio" name="showStatus" value="1" title="显示">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图标：</label>
                            <div class="layui-input-block">
                                <input type="text" name="icon" autocomplete="off" class="layui-input"
                                       maxlength="50" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序：</label>
                            <div class="layui-input-block">
                                <input type="text" name="orderNum" autocomplete="off" class="layui-input"
                                       lay-verify="number">
                            </div>
                        </div>
                        <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
                        <button class="layui-btn febs-hide" lay-submit="" lay-filter="jccInterfaceInfo-form-submit"
                                id="submit-form"></button>
                    </form>
                </div>
                <div class="layui-card-footer">
                    <button class="layui-btn" id="submit">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            $view = $('#febs-interface'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $submit = $view.find('#submit'),
            $searchForm = $view.find('#jccInterfaceInfo-table-form'),
            $interfaceName = $searchForm.find('input[name="interfaceName"]'),
            $requestWays = $view.find('input[name="requestWays"]'),
            $requestAddress = $view.find('input[name="requestAddress"]'),
            $requestHead = $view.find('input[name="requestHead"]'),
            $requestBody = $view.find('input[name="requestBody"]'),
            $requestParameterExplain = $view.find('input[name="requestParameterExplain"]'),
            $requestResult = $view.find('input[name="requestResult"]'),
            $requestResultExplain = $view.find('input[name="requestResultExplain"]'),
            $showStatus = $view.find('input[type="radio"][name="showStatus"]'),
            $icon = $view.find('input[name="icon"]'),
            $icon_parent = $icon.parents('.layui-form-item'),
            $order = $view.find('input[name="orderNum"]'),
            $order_parent = $order.parents('.layui-form-item'),
            $header = $view.find('#form-header'),
            _currentMenuData,
            _selectNode,
            _jccInterfaceInfoTree,
            tableIns;

        form.verify(validate);
        form.render();

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                if (name === 'add') {
                    reset();
                    var selected = _jccInterfaceInfoTree.getChecked(false, true);
                    if (selected.length > 1) {
                        febs.alert.warn('只能选择一个节点作为父级！');
                        return;
                    }
                    form.val("jccInterfaceInfo-form", {
                        "parentId": selected[0] ? selected[0].id : '0'
                    });
                }
                if (name === 'delete') {
                    var checked = _jccInterfaceInfoTree.getChecked(false, true);
                    if (checked.length < 1) {
                        febs.alert.warn('请勾选需要删除的接口或按钮');
                        return;
                    }
                    var interfaces = [];
                    layui.each(checked, function (key, item) {
                        interfaces.push(item.id)
                    });
                    febs.modal.confirm('提示', '当您点击确定按钮后，这些记录将会被彻底删除，如果其包含子记录，也将一并删除！', function () {
                        febs.get(ctx + 'jccInterfaceInfo/jccInterfaceInfo/delete/' + interfaces.join(','), null, function () {
                            febs.alert.success('删除成功！');
                            reloadMenuTree();
                            reset();
                        })
                    });
                }
                if (name === 'export') {
                    febs.download(ctx + 'jccInterfaceInfo/excel', {
                        "interfaceName": $interfaceName.val().trim()
                    }, '接口信息表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'jccInterfaceInfo:add'
            }, {
                name: 'delete',
                title: '删除',
                perms: 'jccInterfaceInfo:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'jccInterfaceInfo:export'
            }]
        });

        _jccInterfaceInfoTree = renderMenuTree();

        eleTree.on("nodeClick(jccInterfaceInfoTree)", function (d) {
            var data = d.data.currentData.data;
            _currentMenuData = data;
            $header.text('修改菜单');
            form.val("jccInterfaceInfo-form", {
                "icon": data.icon,
                "showStatus": ""+data.showStatus,
                "orderNum": data.orderNum,
                "interfaceName": data.interfaceName,
                "requestWays": data.requestWays,
                "requestAddress": data.requestAddress,
                "requestHead": data.requestHead,
                "requestBody": data.requestBody,
                "requestParameterExplain": data.requestParameterExplain,
                "requestResult": data.requestResult,
                "requestResultExplain": data.requestResultExplain,
                "parentId": data.parentId,
                "interfaceId": data.interfaceId
            });
        });

        $reset.on('click', function () {
            $interfaceName.val('');
            reloadMenuTree();
            reset();
        });

        $query.on('click', function () {
            reloadMenuTree();
            reset();
        });

        $submit.on('click', function () {
            $view.find('#submit-form').trigger('click');
        });

        function reset() {
            $view.find('#reset-form').trigger('click');
            form.val("jccInterfaceInfo-form", {
                "icon": '',
                "orderNum": '',
                "showStatus": '1'
            });
            $header.text('新增接口');
        }

        function renderMenuTree() {
            _jccInterfaceInfoTree = eleTree.render({
                elem: '.jccInterfaceInfoTree',
                url: ctx + 'jccInterfaceInfo/tree',
                where: {
                    "interfaceName": $interfaceName.val().trim(),
                    "invalidate_ie_cache": new Date()
                },
                accordion: true,
                highlightCurrent: true,
                showCheckbox: true,
                checkStrictly: true,
                renderAfterExpand: false,
                request: {
                    name: "name",
                    key: "id",
                    children: "children",
                    checked: "checked",
                    data: "data"
                },
                response: {
                    statusName: "code",
                    statusCode: 200,
                    dataName: "data"
                }
            });
            return _jccInterfaceInfoTree;
        }

        function reloadMenuTree() {
            _jccInterfaceInfoTree = renderMenuTree();
        }

        form.on('submit(jccInterfaceInfo-form-submit)', function (data) {
            if (data.field.interfaceId && $header.text().indexOf('修改') !== -1) {
                if (febs.nativeEqual(data.field, _currentMenuData)) {
                    febs.alert.warn('数据未作任何修改！');
                    return false;
                }
                $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
                febs.post(ctx + 'jccInterfaceInfo/jccInterfaceInfo/update', data.field, function () {
                    febs.alert.success('修改成功');
                    $("#submit").removeClass("layui-btn layui-btn-radius layui-btn-disabled").addClass("layui-btn layui-btn-normal").prop("disabled",false);
                    reloadMenuTree();
                    reset();
                })
            } else {
                $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
                febs.post(ctx + 'jccInterfaceInfo/jccInterfaceInfo', data.field, function () {
                    febs.alert.success('新增成功');
                    $("#submit").removeClass("layui-btn layui-btn-radius layui-btn-disabled").addClass("layui-btn layui-btn-normal").prop("disabled",false);
                    reloadMenuTree();
                    reset();
                })
            }
            return false;
        });
    });
</script>
